*{box-sizing: border-box;}

body{
	width: 100%;
	min-width: 320px;
	max-width: 1920px;
	margin: 0 auto;
}
.container_12{
	padding: 20px;
	width: 100%;
	min-height: 1px;
	float: left;
}

.grid{
	background: #BA0000;
	min-height: 40px;
	margin-left: 1%;
	margin-right: 1%;
	display: inline-block;
	float: left;
}

.grid_1{width: 6.333%;}
.grid_2{width: 14.667%;}
.grid_3{width: 23%;}
.grid_4{width: 31.333%;}
.grid_5{width: 39.667%;}
.grid_6{width: 48%;}
.grid_7{width: 56.333%;}
.grid_8{width: 64.667%;}
.grid_9{width: 73%;}
.grid_10{width: 81.333%;}
.grid_11{width: 89.667%;}
.grid_12{width: 98%;}

@media (max-width: 768px){

	.grid{
		width: 100%;
		margin: 5px 0px 5px 0px;
	}
}