/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";
@import "grid.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */
body{
	background-color: grey;
}

p {font-family: sans-serif; font-size: 16px;}h1
h1{font-size: 22px; font-family: sans-serif;}

#header{
	padding-top: 10px;
	background-color: #BA0000;
	min-height:100px;
}
#name-and-slogan{
	font-size: 36px;
}
#header #logo{
	position: relative;
    top: 25px;
}
#name-and-slogan a:link,#name-and-slogan a:visited{
	color: white;
}
#header #secondary-menu .links a:link, #header #secondary-menu .links a:visited{
	color: white;
}
#navigation{
	background: black;
	height: 35px;
}
#main-menu{
	padding-top: 5px;
    box-sizing: padding-box;
    padding-bottom: 5px;
}
#main-menu .links a:link, #main-menu a:visited{
	color: white;

	text-transform: uppercase;
}

#main-menu .links a:hover{
	color: #E3C800;
}
#page{
	max-width: none;
}
#content{
	display: inline-block;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    min-height: 500px;
    background-color: white;
    clear:both
    box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);
}
#search-block-form{
	float: right;
	padding-bottom: 10px;

}

#block-takeaway-set-postcode {padding: 20px; text-align: center;}

	position: relative;
    bottom: 50px;
}
#search-block-form .form-submit{
	background: black;
    border: solid black;
    border-radius: 5px;
    padding: 5px 5px 2px 5px;
    color: white;
}

#block-system-powered-by {display: none;}

#search-block-form .form-submit:hover{
	background-color: red;
}
@media (max-width: 768px;){
	#header #name-and-slogan{
		font-size: 24px;
	}
}

#block-takeaway-set-postcode{
	border-radius: 20px;
}

.menu{
	height: 200px;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
}
#takeaway-form .form-item-postcode{
clear: both;
margin-top: 5px;
background: #BA0000;
border-radius: 10px;
height: 80px;
padding: 10px;
display: inline-block;
}

#edit-submit--2{
	display: inline-block;
}
.block__title{
	clear: both;
}
